Clients/YAEM.DesktopClient/Service References/Services/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/YAEM.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YAEM.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5009/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ObjectBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectBase" nillable="true" type="tns:ObjectBase" />
  <xs:complexType name="Session">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Algorithm" type="tns:CryptoAlgorithm" />
          <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="CryptoAlgorithm">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Aes" />
      <xs:enumeration value="Rijndael" />
      <xs:enumeration value="TripleDES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CryptoAlgorithm" nillable="true" type="tns:CryptoAlgorithm" />
</xs:schema>