Clients/YAEM.DesktopClient/Service References/Services/Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16020/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YAEM.Domain" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="JoinResult" nillable="true" type="q2:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="session" nillable="true" type="q3:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="session" nillable="true" type="q4:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsJoinedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsJoinedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoinedUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoinedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="GetJoinedUsersResult" nillable="true" type="q5:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUserJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUserLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNewMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="message" nillable="true" type="q8:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="message" nillable="true" type="q9:Message" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/YAEM.Domain" minOccurs="0" name="sender" nillable="true" type="q10:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>